.advantages{
  .container{
    margin: 60px auto 0;
  }
  &__lead{
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      color: $paragraf;
      width: 100%;
      margin: 0 0 10px 0;
    }
    &__heading{
      text-align: center;
      font-size: 50px;
      color: $middle_blue;
      width: 100%;
      margin: 0 0 70px 0;
    }
    &__item{
      flex: 0 0 40%;
      max-width: 40%;
    }
    &__image{
      width: auto;
      display: inline-block;
      float: left;
    }
    &__description{
      max-width: calc(100% - 132px);
      margin-left: 35px;
      float: right;
      margin-bottom: 55px;
    }
    &__title{
      font-size: 24px;
      color:$dark_blue;
      margin: 0 0 15px 0;
    }
    &__text{
      font-size: 18px;
      color: $dark_blue;
      margin: 0;
    }
}
