$light_blue: #38bdff;
$middle_blue: #002f9d;
$dark_blue: #021f59;
$paragraf: #757575;
$light-grey: #f2f2f2;
$middle-grey: #b3b3b3;
$dark-grey:#666666;
$yellow: #ffed28;
$dark-yellow: #b3a61d;

// %large-title{
//   font-size: 50px;
//   font-weight: bold;
// }

*, ::after, ::before {
  box-sizing: border-box;
}

.clearfix{
  &::after {
      display: block;
      clear: both;
      content: "";
  }
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;

  a{
    text-decoration: none;
    // @extend large-title;
  }
  .full-width{
    width: 100%;
  }
  .flex{
    display: flex;

    &.wrap{
      flex-wrap: wrap;
    }
    &.align-items{
      align-items: center;
    }
    &.justify-between{
      justify-content: space-between;
    }
    &.justify-start{
      justify-content: flex-start;
    }
    &.justify-end{
      justify-content: flex-end;
    }
    &.center{
      align-items: center;
      justify-content: center;
    }

    .column-3{
      max-width: 33.33%;
      flex: 0 0 33.33%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container{
    max-width: 1070px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    &--large{
      max-width: 1340px;
    }
  }
}
