.inspire{
  padding: 43px 0;
  text-align: center;

  @include mq-mobile(){
    padding: 30px 0;
  }

  &__text{
    color: $middle_blue;
    font-weight: 400;
    font-size: 32px;
    margin:0;
    padding:0;

    @include mq-tablet(){
      font-size: 26px;
    }
    @include mq-mobile(){
      font-size: 24px;
    }
  }

  &__link{
    color: $middle_blue;
    font-weight: 700;
    transition: all ease-in-out 0.3s;

    &:hover{
      color: $light-blue;
      transition: color ease-in-out 0.3s;
    }
    &--dashed{
      border-bottom: 1px dashed $middle_blue;
      &:hover{
        border-bottom: 1px dashed $light_blue;
        transition: border-bottom ease-in-out 0.3s;
      }
    }
    @include mq-mobile(){
      display: inline-block;
      font-size: 22px;
    }
  }

}
