header{
  .container{
    padding: 20px 0;
    width: 100%;
    max-width:1300px;
    margin: 0 auto;
    * {
      align-items: center;
    }
    .primary-nav{
      ul{
        padding: 0;
        li{
          display: inline-block;
          font-size: 22px;
          color:$middle_blue;
          margin-left: 35px;
          a{
            padding: 0;
          }
        }
      }
    }
    .secondary-nav{
      text-transform: uppercase;
      font-size: 16px;
      color: $dark_blue;
      .login{
        padding-right: 20px;
        border-right: 1px solid #e5e7e9;
      }
      .currency{
        position: relative;
        padding-left: 50px;
        margin-left: 20px;
        &::before{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: url(../../assets/images/Flag_of_the_United_Kingdom.png);
          display: block;
          width: 30px;
          height: 15px;
        }
      }
    }
  }
}
