.offers{
  background: $middle_blue;
  padding: 50px 0;

  &__heading{
      color: white;
      font-size: 20px;
      margin: 0 0 20px 0;
      width: 100%;
      font-weight: 400;
      @include mq-mobile(){
        text-align: center;
      }
    }
    &__item{
      background-color: white;
      position: relative;
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;

      @include mq-desktop-up(){
        margin-bottom: 0;
        flex: 0 0 23.5%;
        max-width: 23.5%;
        margin-left: 2%;
        &:nth-of-type(1){
          margin-left: 0;
        }
      }
      @include mq-tablet(){
        flex: 0 0 49%;
        max-width: 49%;
        margin-left: 2%;
        &:nth-of-type(odd){
          margin-left: 0;
        }
      }


    }
    &__promotion{
        position: absolute;
        top:  10px;
        left: -5px;
        background: $yellow;
        padding: 5px;
        &::before{
          position: absolute;
          top: 30px;
          left: 0px;
          content: '';
          width: 0;
          height: 0;
          border-top: 5px solid $dark-yellow;
          border-left: 5px solid transparent;
        }
    }
    &__promotionText{
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-weight: 700;
      color: $middle_blue;
    }
    &__img{
      width: 100%;
      height: auto;
    }
    &__description{
      color: $middle_blue;
      padding: 20px 30px;
    }
    &__title{
      font-size: 24px;
      margin:0 0 10px 0;
      font-weight: 700;
    }
    &__text{
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 35px;
    }
    &__link{
      font-size: 24px;
      font-weight: 700;
      color: $dark_blue;
    }
}
