.packages{
  background-color: $dark-blue;
  padding: 50px 0;

  &__info{
    max-width: 520px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom:60px;
    h3{
      color: $light-blue;
      font-size: 45px;
      font-weight: 700;
      margin: 0 0 20px 0;
    }
  }

  &__text{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 15px 0;
    &--uppercase{
      text-transform: uppercase;
    }
  }

  &__text-right{
    text-align: right;
  }
  &__link{
    color: $light-blue;
    font-size: 20px;
    font-weight: 400;
    &--dashed{
      border-bottom: 1px dashed $light-blue;
    }
  }

  .tabs{
    background-color: white;

    &--desktop{
      @include mq-tablet-up(){
        display: block;
      }
      @include mq-mobile(){
        display: none;
      }
    }
    &--mobile{
      @include mq-tablet-up(){
        display: none;
      }
      @include mq-mobile(){
        display: block;
      }
    }

    &__navigation{
      padding: 0;
      margin: 0;
    }
    &__link{
      width: 33.33%;
      list-style-type: none;
      display: inline-block;
      float: left;
      text-align: center;
      background-color: $light-grey;
    }

    &__btn{
      width: 100%;
      display: block;
      padding: 15px;
      font-weight: 600;
      font-size: 24px;
      border: 0;
      box-shadow: 0;
      outline: 0;
      cursor: pointer;
      color: $paragraf;

      &--active,
      &:hover{
        background-color: white;
        color: $middle_blue;
        font-weight: 700;
        position: relative;

        &::before{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          right: 0;
          height: 4px;
          background-color: $light-blue;
        }
      }
    }

    &__content{
      display: none;

      @include mq-desktop-up(){
        padding: 30px 70px;
      }
      @include mq-tablet(){
        padding: 30px;
      }

      &--active{
        display: block;
      }
    }
    &__services{
      padding: 0;
      margin: 0;
    }
    &__service{
      list-style-type: none;
      padding-left: 50px;
      position: relative;
      margin-bottom: 20px;

      &:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        display: block;
      }

      &--included{
        color: $light_blue;

        &:before{
          content: url(../../assets/images/included.png);
        }
      }
      &--excluded{
        &:before{
          content: url(../../assets/images/excluded.png);
        }
      }
    }

  }

}
