body{
  .flex{
    display: flex;
  }
  .start{
    justify-content: flex-start;
  }
  .end{
    justify-content: flex-end;
  }
  header{
    .container{
      width: 100%;
      max-width:1300px;
    }
  }
}
